<template>
  <div id="app">
    <Blog />
  </div>
</template>

<script>
import Blog from './components/Blog'

export default {
  name: 'app',
  components: {
    Blog
  }
}
</script>

<style lang="sass">
  @import "~bootstrap/scss/bootstrap";
</style>
