<template>
    <div class="container-fluid h-100">
        <Heading />
        <div class="bg-light h-100">
        <router-view></router-view>
        </div>  
    </div>
</template>

<script>
import Heading from './Heading';

export default {
    name: 'Blog',
    components: {
        Heading
    }
}
</script>