<template>
    <div class="jumbotron">
        <h1 class="display-4">Oops</h1>
        <p class="lead">You have ended up somewhere that dosen't exist.</p>
        <hr class="my-4">
        <p>Probably a good idea to <router-link to="/">leave now</router-link>, before the something even worse happens</p>
        
    </div>

</template>