<template>
    <div>
        <div v-for="(post, id, index) in posts" :key="index">
            <h3>{{ post['_jv'].attrs.title }}</h3>
            <!-- <div
                :id="'render_' + id + '_' + index"
                v-for="(value, name, index) in post['_jv'].attrs"
                :key="index"
            >
                <h2>{{ name }}: </h2>
                <span :id="'span_' + name + '_' + id">{{ value }}</span>
            </div> -->
            <div>{{ post['_jv'].attrs.body }}</div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'PostList',
  created() {
    this.$store.dispatch('jv/get', 'posts')
  },
  computed: {
    posts() {
      return this.$store.getters['jv/get']('posts')
    },
  },
}
</script>


